/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Homepage related */

.homepage-header {
    display: flex;
    align-items: center;
    height: 62px;
}

.homepage-header-inner {
    display: flex;
    align-content: space-evenly;
    width: 100vw;
    height: 32px
}

.homepage-nav-bar {
    display: flex;
    width: inherit;
}

.homepage-nav-bar button {
    background: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
}

.homepage-nav-bar button:hover {
    background: rgb(233, 232, 232);
}

#signup-button {
    border-radius: 7px;
    background-color: black;
    color: white;
}

#signup-button:hover {
    background-color: rgb(46, 42, 42);
}

.homepage-icon {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 5vw;
}

.homepage-icon img {
    width: 32px;
    height: 32px;
}

.homepage-desktop-actions {
    width: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.homepage-mobile-actions {
    display: flex;
}

.homepage-nav-bar-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50vw;
}

.homepage-nav-bar-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 30vw;
}


.homepage-main-content {
    padding-left: 15vw;
    padding-right: 15vw;
    width: 70vw;
    height: 500vh;
    display: flex;
    text-align: center;
    flex-direction: column;
}
#homepage-language {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 72px;
    padding: 10px;
    padding-top: 40px;
}

#homepage-language-two {
    font-family: sans-serif;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
}

/* Login and signup page related */

.login-main {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.login-field {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    text-align: center;
    align-items: center;
}

.login-main h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding: 10px;
    padding-top: 17vh;
    width: inherit;
}

.login-main form {
    width: inherit;
    text-align: left;
}

.login-main label {
    color: rgb(55, 53, 47);
    font-family: sans-serif;
    font-size: 12px;
}

.login-main input {
    padding-top: 5px;
    padding-bottom: 5px;
    width: inherit;
}

#login-submit {
    background: none;
	font-family: inherit;
    padding: 2px;
	border: 2px solid rgb(55, 53, 47);
	font-size: 14px;
    margin-top: 20px;
    width: 320px;
}

.error-message {
    font-size: 14px;
    color: red;
    font-style: italic;
    font-family: sans-serif;
}
/* User homepage related */

.user-homepage {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-homepage-sidebar {
    z-index: 500;
    position: fixed;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.024) -1px 0px 0px 0px inset;
    width: 252px;
    height: 100%;
    background-color: rgb(251, 251, 250);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgba(25, 23, 17, 0.6);
    font-weight: 500;
}

.user-homepage-sidebar-overlay {
    display: flex;
    height: inherit;
    box-sizing: border-box;
}

.user-homepage-divider {
    z-index: 600;
    display: flex;
    cursor: col-resize;
    width: 2px;
    /* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
    opacity: 0.3;
}

.user-homepage-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100vw - 300px);
    min-width: 500px;
}

.user-homepage-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 45px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgb(55, 53, 47);
}

.user-homepage-main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 95vh;
    background-color: white;
}

/* Header related */
.header-left {
    position: relative;
    display: flex;
    padding-left: 12px;
    padding-right: 10px;
}

.header-page-name:hover {
    padding: 5px;
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.update-page-name {
    position: absolute;
    top: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 12px;
    padding-right: 10px;
}

.header-last-edit {
    display: flex;
    padding-right: 30px;
    color: rgb(55, 53, 47, 0.5);
}

.header-icons {
    display: flex;
    position: relative;
    align-items: center;
    width: 170px;
    min-width: 170px;
    justify-content: space-between;
}

.header-icon-share {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 3px;
}

.header-icon-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.header-icon-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.header-icon-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.header-icon-more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;    
    border-radius: 3px;
}

.header-more-panel {
    z-index: 10;
    width: 230px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 35px;
    left: -60px;
    border-radius: 4px;
    transition-duration: 500ms;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.header-more-panel-header {
    display: flex;
    align-items: center;
    height: 28px;
    box-sizing: border-box;
    color: rgb(55, 53, 47, 0.65);
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

.header-more-panel-container {
    display: flex;
    justify-content: space-around;
}

.header-more-panel-font-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 67px;
    height: 61px;
    padding: 10px 6px 6px 6px;
    border-radius: 3px;
}

.header-more-panel-font-item div:first-child {
    cursor: pointer;
    height: 25px;
    font-size: 24px;
}

.header-more-panel-font-item div:last-child {
    font-size: 12px;
    color: rgba(55, 53, 47, 0.65);
    margin-top: 4px;
}

.header-share-panel {
    position: absolute;
    width: 400px;
    height: 78px;
    top: 35px;
    left: -300px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition-duration: 500ms;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.header-share-panel-header {
    display: flex;
    align-items: center;
    height: 28px;
    box-sizing: border-box;
    color: rgb(55, 53, 47, 0.65);
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

.header-share-panel-container {
    display: flex;
}

.header-share-panel-container div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 32px;
    background-color: rgba(242, 241, 238, 0.6);
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
    font-size: 14px;
    margin-left: 12px;
    border-radius: 3px;
    color: rgb(55, 53, 47, 0.65);
}

.header-share-panel-container div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 32px;
    border-radius: 4px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
    background: rgb(35, 131, 226);
    margin-left: 8px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.header-share-panel-container div:last-child:hover {
    cursor: pointer;
    background-color: rgb(0, 117, 211);
}

.header-comment-panel {
    position: absolute;
    top: 35px;
    left: -600px;
}

.header-notification-panel {
    position: absolute;
    top: 35px;
    left: -600px;
}

.header-more-panel-font-item:hover {
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.header-icon-share:hover, .header-icon-comment:hover, .header-icon-notifications:hover, .header-icon-favorite:hover, .header-icon-more:hover {
    cursor: pointer;
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

/* Sidebar related */
.sidebar-profile {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 45px;
    width: inherit;
}

.sidebar-profile-user {
    display: flex;
    align-items: center;
    width: 202px;
    padding: 2px 14px;
    cursor: pointer;
}

.sidebar-profile-user-icon {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: rgba(55, 53, 47, 0.09);
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    margin-right: 8px;
}

.sidebar-profile-user-details {
    display: flex;
    align-items: center;
    width: 144px;
    height: 21px;
    font-family: inherit;
    font-size: 14px;
    color: rgba(55, 53, 47);
    font-weight: 500;
}

.sidebar-profile-create-page {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 32px;
    width: 32px;
    min-width: 32px;
    border: 1px solid rgba(55, 53, 47, 0.09);
    border-radius: 100px;
    background-color: white;
    margin-right: 12px;
}

.sidebar-profile:hover {
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.profile-popup {
    z-index: 10;
    width: 270px;
    height: 150px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 10px;
    border-radius: 4px;
    transition-duration: 500ms;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.user-email {
    display: flex;
    align-items: center;
    height: 28px;
    box-sizing: border-box;
    color: rgb(55, 53, 47, 0.65);
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

.current-user {
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 58px;
    padding: 4px 14px 4px 14px;
    margin-bottom: 10px;
}

.current-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(55, 53, 47, 0.09);
    color: rgba(55, 53, 47, 0.65);
    width: 32px;
    height: 32px;
    border-radius: 0.25em;
    text-transform: uppercase;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.current-user-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(55, 53, 47);
}

.current-user-plan {
    font-size: 12px;
    font-weight: 400;
    color: rgba(55, 53, 47, 0.65);
}

.current-user:hover {
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.profile-popup-default {
    color: rgb(55, 53, 47, 0.5);
    font-size: 14px;
    height: 38px;
    box-sizing: border-box;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgb(251, 250, 249);
    box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px;
}

.profile-popup-default div {
    cursor: pointer;
    height: 28px;
    box-sizing: border-box;
    font-size: 12px;
    color: rgba(55, 53, 47, 0.65);
    padding: 10px;
    font-weight: 400;
}

.profile-popup-default div:hover {
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

i {
    width: 20px;
    height: 20px;
}

.update-panel {
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 500px;
    height: 260px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 250px;
    border-radius: 4px;
    transition-duration: 500ms;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.update-panel-header {
    display: flex;
    align-items: center;
    height: 38px;
    width: inherit;
    box-sizing: border-box;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: rgba(55, 53, 47, 0.09) 0px 1px 0px;
}

.update-panel-header > div {
    color: rgb(55, 53, 47);
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
}

.update-panel-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.update-panel-icon {
    height: 48px;
    width: 48px;
    margin-bottom: 15px;
}
.update-panel-main > div {
    margin-bottom: 4px;
    color: rgba(55, 53, 47, 0.65);
    font-weight: 400;

}

.update-panel-main div:last-child {
    text-align: center;
    font-size: 14px;
    color: rgba(55, 53, 47, 0.5);
}

.teamspace-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: fixed;
    top: 0px;
    left: -252px;
    transition: left 1s;
    animation: 0.25s 1 forwards slidein;
    z-index: 120;
    width: 252px;
    height: 100%;
    background-color: rgb(251, 251, 250);
    cursor: default;
    overflow: scroll;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes slidein {
    100% {left: 0; }
}

@keyframes slideout {
    from {left: 0px; }
    to {left: -252px; }
}

.teamspace-panel-header {
    display: flex;
    align-items: center;
    width: inherit;
    height: 45px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.leave-teamspace-panel {
    height: 16px;
    width: 16px;
    padding: 2px;
    border-radius: 3px;
}

.leave-teamspace-panel:hover {
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.teamspace-panel-header div {
    padding-left: 14px;
    color: rgb(55, 53, 47);
    font-size: 14px;
    font-weight: 600;
}

.your-teamspaces, .more-teamspaces {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.your-teamspaces-header, .more-teamspaces-header {
    font-size: 12px;
    color: rgba(55, 53, 47, 0.5);
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 15px;
    padding-right: 14px;
}

.your-teamspaces-container > div {
    padding-left: 15px;
    padding-right: 14px;
    width: 223px;
}

.more-teamspaces-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.more-teamspaces-container > div {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px 15px 2px 14px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.more-teamspaces-item .clickable-dropdown {
    z-index: 120;
    width: 180px;
    top: 25px;
    left: 30px;
    position: absolute;
    overflow: visible;
}

.clickable-dropdown-container {
    z-index: 120;
}

.more-teamspaces-item:hover {
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.more-teamspaces-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 12px;
    margin-left: auto;
}

.more-teamspaces-icon:hover {
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.clickable {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 27px;
    padding: 2px 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(25, 23, 17, 0.6);
}

.clickable:hover {
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.clickable-dropdown {
    display: flex;
    align-content: center;
    width: 265px;
    height: 40px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 200px;
    border-radius: 5px;
    transition-duration: 500ms;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.clickable-dropdown-container {
    display: flex;
    height: inherit;
    width: inherit;
    padding-top: 6px;
    padding-bottom: 6px;
    box-sizing: border-box;
}

.clickable-trash-can {
    height: 16px;
    width: 16px;
    padding: 6px;
    margin-left: 10px;  
    display: flex;
    align-content: center;
}

.clickable-delete {
    display: flex;
    align-items: center;
    height: 28px;
    font-size: 14px;
    margin-left: 10px;
    color: rgb(55, 53, 47);
}

.clickable-dropdown-container:hover {
    background-color: rgb(143, 142, 137, 0.5);
    transition-duration: 200ms;
}

.sidebar-icon {
    height: 14px;
    width: 14px;
    margin-right: 8px;
}

.sidebar-icon-carrot-holder, .sidebar-icon-carrot-team-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.sidebar-icon-carrot, .sidebar-icon-carrot-team {
    height: 12px;
    width: 12px;
    padding: 4px;
    opacity: 0.65;
    border-radius: 5px;
}

.sidebar-icon-carrot:hover, .sidebar-icon-carrot-team:hover {
    background-color: rgb(143, 142, 137, 0.5);
    transition-duration: 200ms;
}


.sidebar-icon-teamspace {
    display: flex;
    height: 20px;
    width: 20px;
    margin-left: 4px;
    margin-right: 8px;
    background-color: rgba(201, 158, 108, 0.5);
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
}

.sidebar-default {
    padding: 0px 10px 0px 16px;
    padding-bottom: 8px;
}

.sidebar-personal {
    display: block;
    margin-top: 6px;
    margin-bottom: 2px;
    width: 252px;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar-page-name {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 25px;
}

.sidebar-personal h1 {
    display: flex;
    flex: column;
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    color: rgb(55, 53, 47, 0.5);
    font-size: 12px;
}

.no-pages-inside {
    display: flex;
    align-items: center;
    width: inherit;
    height: 24px;
}

.favorites, .teamspaces, .private {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
}

.add-page, .show-add-team-panel {
    color: rgb(55, 53, 47, 0.5);
    font-size: 12px;
    margin-left: auto;
    margin-right: 12px;
    float: right;
    font-weight: bold;
}

.show-add-team-panel svg, .add-page svg {
    cursor: pointer;
}

.add-page:hover {
    visibility: visible;
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.search-panel {
    cursor: default;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 500;
    top: 10vh;
    left: 30vw;
    background-color: white;
    width: 50vw;
    height: 80vh;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;
}

.search-panel-query {
    padding: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
    height: 48px;
    box-shadow: rgba(55, 53, 47, 0.09) 0px 1px 0px;
}

.search-panel-query svg {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.search-panel-query input {
    border: none;
    height: 27px;
    font-size: 18px;
    color: rgba(55, 53, 47);
    flex-grow: 1;
}

.search-panel-query input:focus{
    outline: none;
}

.search-panel-result > div {
    margin-bottom: 18px;
}

.result-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    font-size: 14px;
    color: rgb(25, 23, 17);
    margin-left: 5px;
    margin-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.result-item > div {
    display: flex;
    width: 100%;
}

.result-item > div:last-child {
    font-size: 12px;
    font-weight: 500;
    color: rgba(55, 53, 47, 0.4);
}

b {
    font-weight: 700;
}
.result-item:hover {
    background-color: rgb(143, 142, 137, 0.3);
    transition-duration: 200ms;
}

.today-result, .yesterday-result, .past-week-result {
    display: flex;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 6px;
    margin-bottom: 7px;
    color: rgba(55, 53, 47, 0.65);
    font-weight: 600;
    font-size: 12px;
    box-sizing: border-box;
}

.add-team-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 500;
    top: 100px;
    left: 25vw;
    background-color: white;
    width: 480px;
    height: 532px;
    box-sizing: border-box;
    padding: 22px 26px;
    border-radius: 5px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;
}

.teamspace-short-description {
    display: flex;
    font-size: 18px;
    color: rgb(55, 53, 47);
    align-items: center;
    padding: 5px;
}

.teamspace-long-description {
    display: flex;
    font-size: 12px;
    color: rgba(55, 53, 47, 0.5);
    align-items: center;
    padding: 5px;
    margin-bottom: 26px;
}

.add-team-panel form {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-team-panel form label {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-bottom: 4px;
}

.add-team-panel form label span{
    font-size: 12px;
    color: rgba(55, 53, 47, 0.65);
    margin-bottom: 4px;
}

.add-team-panel form label input{
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
    background-color: rgba(242, 241, 238, 0.6);
    color: rgb(55, 53, 47);
    border-radius: 4px;
    padding: 4px 10px;
    border: 1px;

}

.teamspace-description-input {
    height: 28px;
}

.teamspace-description-input {
    display: flex;
    justify-content: flex-start;
    height: 68px;
}

.submit-add-team {
    background-color: rgb(35, 131, 226);
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
    border-radius: 4px;
    border: 1px;
    height: 32px;
    opacity: 0.4;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.submit-add-team:hover {
    opacity: 0.9;
}

.tooltip {
    z-index: 100;
    width: max-content;
    height: 15px;
    background-color: black;
    border-radius: 8px;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: white;
    position: absolute;
}

/* Main page related */

.main-title-cover {
    height: 225px;
}

.main-title-cover img {
    height: inherit;
    width: calc(100vw - 252px);
    object-fit: cover;
}

.main-title-options {
    display: flex;
    height: 24px;
    margin: 16px 0px 4px -1px;
    padding-left: calc(15% + 25px);
    padding-right: calc(15% + 25px);
}

.add-cover {
    display: flex;
    position: relative;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 53, 47, 0.5);
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.add-cover:hover {
    background-color: rgb(55, 53, 47, 0.08);
    transition-duration: 200ms;
}

.add-cover-panel {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgba(55, 53, 47, 0.65);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 100;
    background-color: white;
    width: 450px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    padding: 10px;
}

.individual-cover {
    display: flex;
    flex-grow: 1;
    cursor: pointer;
    height: 64px;
    width: 120px;
    border-radius: 5px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
    margin: 4px 10px 4px 10px;
}

.individual-cover img {
    display: flex;
    flex-grow: 1;
    height: 64px;
    width: 120px;
    border-radius: 5px;
    object-fit: cover;
}

.main-title-text {
    font-family: inherit;
    height: auto;
    padding: 3px calc(15% + 25px) 3px calc(15% + 25px);
    font-size: 40px;
    color: rgb(55, 53, 47);
    font-weight: 700;
}

.user-homepage-main-textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 500px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 15% 10px 15%;
}

.user-homepage-main-textarea h1 {
    font-size: 40px;
    color: rgb(55, 53, 47);
    font-weight: 700;
}

.user-homepage-main-textarea h2 {
    font-size: 32px;
    color: rgb(55, 53, 47);
    font-weight: 700;
}

.user-homepage-main-textarea h3 {
    font-size: 24px;
    color: rgb(55, 53, 47);
    font-weight: 700;
}


.main-default-text {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.main-manual-text {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    font-family: inherit;
    color: rgb(55, 53, 47);
    height: auto;
    overflow-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-manual-drag-block:focus {
    background-color: rgb(55, 53, 47, 0.2);
    transition-duration: 500ms;
}

.main-manual-drag-block {
    position: relative;
    /* width: 120%; */
    padding-left: 25px;
    padding-right: 25px;
    height: auto;
    overflow-wrap: break-word;
}

.main-manual-drag-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(55, 53, 47, 0.3);
    height: 20px;
    width: 20px;
    top: 4px;
    left: 0px;
    padding: 2px 5px 2px 5px;
}

.main-manual-drag-icon:hover {
    background-color: rgb(55, 53, 47, 0.2);
    transition-duration: 200ms;
}

.main-manual-drop-block {
    height: 5px;
}
.block-options-toolbar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgba(55, 53, 47, 0.65);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    background-color: white;
    width: 314px;
    height: auto;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.text-option-div, .text-option-h1, .text-option-h2, .text-option-h3, .text-option-ul, .text-option-ol {
    display: flex;
    flex-direction: row;
    padding: 4px 0px 4px 0px;
    height: 47px;
    width: inherit;
}

.text-option-div:hover, .text-option-h1:hover, .text-option-h2:hover, .text-option-h3:hover, .text-option-ul:hover, .text-option-ol:hover {
    background-color: rgb(55, 53, 47, 0.08);
    transition-duration: 200ms;
}

.user-homepage-main-textarea ul { 
    list-style: initial;
    list-style-type: disc;
    list-style-position: inside;
    display: block;
 }

 .user-homepage-main-textarea ol {
    list-style: initial;
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
 }

.user-homepage-main-textarea ul li, .user-homepage-main-textarea ol li { 
    display: list-item;
}

.text-option-img-block {
    display: flex;
    height: 46px;
    width: 46px;
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
    margin: 4px 10px 4px 10px;
}

.text-option-img-block img {
    flex-grow: 1;
}

.text-option-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-option-short-description {
    display: flex;
    font-size: 14px;
    color: rgb(55, 53, 47);
    align-items: center;
}

.text-option-long-description {
    display: flex;
    align-items: center;
}

[contenteditable] {
    outline: 0px solid transparent;
}

[contenteditable=true][data-idx="0"]:empty:not(:focus):before {
    content: attr(data-ph);
    color:grey;
    font-style:italic;
}